<%- include('partials/nav')%> 
    <div class="container-fluid mt-5">
        <p class="text-center display-4">Formulario para Editar</p>
        <form action="/update/<%= data.id %> " method="post">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" value="<%= data.name %>" name="name" id="name" aria-describedby="nameHelp">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" value="<%= data.address %>" name="address" id="address" aria-describedby="addrsHelp">
                <small id="addrsHelp" class="form-text text-muted">We'll never share your address with anyone else.</small>
              </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="number" name="phone" value="<%= data.phone %>" class="form-control" id="phone">
            </div>
           
            <button type="submit" class="btn btn-primary">Edit</button>
          </form>
          
    </div>
 <%- include('partials/footer') %> 
   