<%- include('partials/nav')%> 
<div class="container-fluid mt-5">
    <p class="text-center display-4">Formulario</p>
    <form action="/add" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp">
          <small id="nameHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" name="address" id="address" aria-describedby="addrsHelp">
            <small id="addrsHelp" class="form-text text-muted">We'll never share your address with anyone else.</small>
          </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="number" name="phone" class="form-control" id="phone">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <hr>
      <%- include('partials/footer') %> 